@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter"; /*a name to be used later*/
  src: url("./Inter.ttf"); /*URL to font*/
}
body{
    font-family: "inter"
}